# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
.vscode/

# cached models & checkpoints
.cache/
.checkpoints/

# folders for db testing. main is the name of the client!
./INTERNAL/
./EXTERNAL/

./db/MAIN/